# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Garry's Mod
*.cache
*.db
*.bak
data/
lua.cache/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.sublime-*

# Backup files
*_backup/
backup/